/* You can add global styles to this file, and also import other style files */

    body {
      font-family: "Poppins", sans-serif;
    }
    
    .custom-snackbar {
        background: #2B3C50 !important;
        color: white !important;
  }