    <div *ngIf="showButton" class="img">
  <img src="/img/welcome.png" class="img2" alt="yknow">
  <div class="likes">
    <h2>Está curtindo o site?</h2>
    <p>
      Se quiser sugerir alguma coisa, contate o dev!
    </p>
  </div>
</div>
<mat-sidenav-container class="sidenav-container">
  <!-- SideNav -->
  <mat-sidenav #drawer mode="side" class="sidenav" [(opened)]="opened">
    <mat-nav-list>
      <a mat-list-item (click)="VoltarForum()" class="white"><mat-icon>home</mat-icon> Inicio</a>
      <a mat-list-item (click)="IrParaVida()" class="white"><mat-icon>school</mat-icon> Vida no Curso</a>
      <a mat-list-item (click)="IrParaCurso()" class="white"><mat-icon>book</mat-icon> Estrutura Curricular</a>
      <a mat-list-item (click)="IrParaTurmas()" class="white"><mat-icon>group</mat-icon> Turmas</a>
      <a mat-list-item (click)="IrParaFaqs()" class="white"><mat-icon>help</mat-icon> Dúvidas Frequentes</a>
      <a mat-list-item (click)="IrParaSimulador()" class="white"><mat-icon>grading</mat-icon> Simulador de CR</a>
      <a mat-list-item (click)="IrParaCreditos()" class="white"><mat-icon>person</mat-icon> Créditos</a>
      <a *ngIf="isAdmin" mat-list-item (click)="IrParaAdmin()" class="white"><mat-icon>person</mat-icon> Admin</a>
    </mat-nav-list>
        <div class="updates">
      <h2><mat-icon>update</mat-icon> Atualizações:</h2>
      <p>-> Adicionado fluxograma dos cursos
        <br>-> Adicionado CRUD para notícias
        <br>-> Adicionado Simulador de CR
      </p>
        <h2><mat-icon>archive</mat-icon> Link para repositório do site:</h2>
        <button class="btn1" (click)="abrirSite('https://github.com/Icharu/forum')">Fórum</button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="toolbar">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="username">Fórum do Curso de EngComp</span>
      <span class="flex-spacer"></span>
            <span *ngIf="isLogged" class="username">{{ username1 }}</span>
      <button *ngIf="isLogged" class="btn1" (click)="logout()">
            Log-out
      </button>
    </mat-toolbar>
          <div class="Bemvindo">
              <div class="frase fade-slide-up"  [innerHTML]="textoDigitado">
              </div>
      </div>
    <div class="header">
      <h2>Registre-se</h2>
      <p>Quer participar da comunidade realmente? Postando e fazendo perguntas? Crie sua conta e entre conosco!</p>
  <div class="text">
        <form [formGroup]="signupForm" (ngSubmit)="submit()">
      <div class="shell">
      <div class="form-group">
        <label for="username">Usuário</label>
        <input id="username" type="text" formControlName="username" placeholder="Digite seu nome de usuário">
        <small *ngIf="signupForm.get('username')?.invalid && signupForm.get('username')?.touched">
          O nome de usuário deve ter pelo menos 2 caracteres.
        </small>
      </div>

      <div class="form-group">
        <label for="password">Senha</label>
        <input id="password" type="password" formControlName="password" placeholder="Crie uma senha">
        <small *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched">
          A senha deve ter no mínimo 6 caracteres.
        </small>
      </div>

      <div class="form-group">
        <label for="confirmPassword">Confirmar senha</label>
        <input id="confirmPassword" type="password" formControlName="confirmPassword" placeholder="Repita sua senha">
        <small *ngIf="signupForm.get('confirmPassword')?.invalid && signupForm.get('confirmPassword')?.touched">
          Confirme sua senha.
        </small>
      </div>
      <div class="form-group">
      <button type="submit" [disabled]="signupForm.invalid">Registrar</button>

      <p class="login-text">
        Já tem conta?
        <a (click)="navigate()">Entrar</a>
      </p>
      </div>
      </div>
    </form>
    </div>
    </div>
  </mat-sidenav-content>
  
</mat-sidenav-container>
